<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/koniec_gry.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Ranchers&display=swap" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<div class="container_othello_img">
<div class="othello_img">
    <img class="img nav" src="../static/img_nav.png" alt="napis_othello">
</div>
</div>

<div class="winner">
    <h1>Gratulacje</h1>

    <p>{{ winner }}!</p>

</div>


</body>
</html>