
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/plansza.css">
    <title>Plansza</title>
</head>

<body>
    <div class="container_img">
        <div class="nav_img">
            <img class="img nav" src="../static/img_nav.png" alt="napis_othello">
        </div>
    </div>

    <p class="score">{{ gracz_bialy.score }} : {{ gracz_czarny.score }}</p>

    {% if current_player == 1 %}
        <div class="view_player1">
            <h2>Gracz: </h2>
                <p class="nick_name1"> {{ gracz_bialy.name }}</p>
            <h2>Punkty: </h2>
            <p class="nick_name1"> {{ gracz_bialy.score }}</p>
        </div>

    {% else %}
        <div class="view_player2">
            <h2>Gracz: </h2>
                <p class="nick_name2">{{ gracz_czarny.name }}</p>
            <h2>Punkty: </h2>
            <p class="nick_name2">{{ gracz_czarny.score }}</p>
        </div>
    {% endif %}

    <div class="board">
        <section>
            {% for row in range(1,9) %}
                {% for column in range(1,9) %}
                    {% if [row, column] in gracz_bialy.field %}
                        <img src ="../static/bialy.jpg" alt="bialy">
                    {% elif [row, column] in gracz_czarny.field %}
                        <img src ="../static/czarny.jpg" alt="czarny">
                    {% else %}
                        <a href="/moveto/{{row}}/{{ column }}"> <img src="../static/kk.jpg" alt="zielony"></a>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </section>
    </div>
</body>
</html>